.list-item {
    background-color: #8af4cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    cursor: pointer;
    border-radius: 5px;
}

.list-item:hover {
    background-color: #ffa300;
    transform: scale(1.1);
}

.avatar {
    width: 150px;
}

.robot-info {
    text-align: center;
}

.name {
    font-weight: bold;
    line-height: 0;
}

.email {
    font-size: 13px;
}

img {
    width: 100%;
    height: auto;
}